
/* Global Styles */

body {
    background-color: #f7f7f7 !important;
}

/* UserListItem Styles */

.icon {
    margin-left: 0.75em;
    cursor: pointer;
}

.colorGray {
    color: #919191;
}

.colorRed {
    color: #f03535;
}

.colorGreen {
    color: #0f852e;
}

.avatarIcon {
    border-radius: 8%;
    margin-right: 1em;
    width: 60px;
    height: 60px;
    padding: .1em;
    background-color: #000000;
}
